<%# Copyright 2018 Tristan Robert

This file is part of ForemanProxmox.

ForemanProxmox is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

ForemanProxmox is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with ForemanProxmox. If not, see <http://www.gnu.org/licenses/>. %>

<!-- CPU -->
<div class="children_fields" id="proxmoxserver-cpu" style="<%= hide_raw %>">
   <fieldset id="vm_cpu">
    <legend>CPU</legend>
    <div class="fields">
      <%= text_f f, :sockets, :label => _('Sockets'), :value => 1 %>
      <%= text_f f, :cores, :label => _('Cores'), :value => 1 %>
      <%= text_f f, :vcpus, :label => _('VCPUs'), :value => 4 %>
      <%= text_f f, :cpulimit, :label => _('CPU limit'), :value => 0 %>
      <%= text_f f, :cpuunits, :label => _('CPU units'), :value => 1024 %>
    <%= selectable_f f, :cpu_type,
                     proxmox_cpus_map,
                     {},
                     { :class => 'form-control span2',
                       :disabled => (controller_name != 'hosts'),
                       :label => 'Type'
                     }
    %>
      <%= checkbox_f f, :numa, :label => _('Enable NUMA'), :value => false %>
      <%= checkbox_f f, :pcid, :label => _('PCID'), :value => false %>
      <%= checkbox_f f, :spectre, :label => _('Spectre-CTRL'), :value => false %>
    </div>
  </fieldset>
</div>

<!-- Memory -->
<div class="children_fields" id="proxmoxserver-memory" style="<%= hide_raw %>">
   <fieldset id="vm_memory">
    <legend>Memory</legend>
    <div class="fields">
      <%= text_f f, :memory, :label => _('Memory (MiB)'), :value => 512 %>
      <%= text_f f, :min_memory, :label => _('Minimum memory (MiB)'), :value => 512 %>
      <%= text_f f, :shares, :label => _('Shares'), :value => 0 %>
      <%= checkbox_f f, :ballon, :label => _('Ballooning Device'), :value => true %>
    </div>
  </fieldset>
</div>