<%# Copyright 2018 Tristan Robert

This file is part of ForemanProxmox.

ForemanProxmox is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

ForemanProxmox is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with ForemanProxmox. If not, see <http://www.gnu.org/licenses/>. %>

<div id='volume' class="fields">
  <%= selectable_f_with_cache_invalidation f, :storage_uuid,
        proxmox_storages_map(compute_resource),
        { :selected => attribute_map[:storage_selected] },
        { :class => "span2",
         :label => _("Storage"),
        },
        {
           :callback               => 'proxmoxPopulateStorages',
           :title                  => 'Refresh available storage',
           :url                    => '/foreman_proxmox/cache/refresh',
           :computer_resource_id   => compute_resource.id,
           :attribute              => 'storages'
        }
  %>
  <%= selectable_f_with_cache_invalidation f, :bus_uuid,
        proxmox_buses_map,
        { :selected => attribute_map[:bus_selected] },
        { :class => "span2",
         :label => _("Bus"),
        },
        {
           :callback               => 'proxmoxPopulateBuses',
           :title                  => 'Refresh available buses',
           :url                    => '/foreman_proxmox/cache/refresh',
           :attribute              => 'buses'
        }
  %>
  <%= selectable_f_with_cache_invalidation f, :device_uuid,
        proxmox_devices_map(bus_uuid),
        { :selected => attribute_map[:device_selected] },
        { :class => "span2",
         :label => _("Device"),
        },
        {
           :callback               => 'proxmoxPopulateDevices',
           :title                  => 'Refresh available devices',
           :url                    => '/foreman_proxmox/cache/refresh',
           :attribute              => 'devices'
        }
  %>
  <%= selectable_f_with_cache_invalidation f, :cache_uuid,
        proxmox_caches_map(compute_resource),
        { :selected => attribute_map[:cache_selected] },
        { :class => "span2",
         :label => _("Cache"),
        },
        {
           :callback               => 'proxmoxPopulateCaches',
           :title                  => 'Refresh available caches',
           :url                    => '/foreman_proxmox/cache/refresh',
           :attribute              => 'caches'
        }
  %>
  <%= text_f f, :size, :class => "input-mini", :label => _("Size (GB)"), :value => attribute_map[:volume_size] %>
</div>