<%# Copyright 2018 Tristan Robert

This file is part of ForemanFogProxmox.

ForemanFogProxmox is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

ForemanFogProxmox is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with ForemanFogProxmox. If not, see <http://www.gnu.org/licenses/>. %>

<table class="table table-bordered" data-table='inline'>
  <thead>
  <tr>
    <th><%= _('Name') -%></th>
    <th><%= _('CPUs') -%></th>
    <th><%= _('Memory') -%></th>
    <th><%= _('Power') -%></th>
    <th><%= _('Uptime') -%></th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <% @vms.each do |vm| -%>
      <tr>
        <td><%= link_to_if_authorized vm.name, hash_for_compute_resource_vm_path(:compute_resource_id => @compute_resource, :id => vm.identity) %></td>
        <td><%= vm.cpus %></td>
        <td><%= (vm.memory.to_i / (1024 * 1024)).to_s %> MB</td>
        <td> <span <%= vm_power_class(vm.ready?) %>> <%= vm_state(vm) %></span> </td>
        <td><%= vm.uptime %></td>
        <td>
        <%= action_buttons(
                vm_power_action(vm, authorizer),
                display_delete_if_authorized(hash_for_compute_resource_vm_path(:compute_resource_id => @compute_resource, :id => vm.identity).merge(:auth_object => @compute_resource, :authorizer => authorizer))) %>
        </td>
      </tr>
  <% end -%>
  </tbody>
</table>
