<%# Copyright 2018 Tristan Robert

This file is part of ForemanFogProxmox.

ForemanFogProxmox is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

ForemanFogProxmox is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with ForemanFogProxmox. If not, see <http://www.gnu.org/licenses/>. %>

<tr>
  <td><%= _("URL") %></td>
  <td><%= @compute_resource.url %></td>
</tr>
<tr>
  <td><%= _("Version") %></td>
  <td><%= @compute_resource.version%></td>
</tr>
<tr>
  <td><%= _("Token has expired?") %></td>
  <td><%= @compute_resource.token_expired?%></td>
</tr>
<tr>
  <td><%= _("Token expires on") %></td>
  <td><%= @compute_resource.token_deadline%></td>
</tr>
