<%# Copyright 2018 Tristan Robert

This file is part of ForemanFogProxmox.

ForemanFogProxmox is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

ForemanFogProxmox is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with ForemanFogProxmox. If not, see <http://www.gnu.org/licenses/>. %>

<% type = f.object.type %>
<% logger.debug("type=#{type}") %>
<% server = type == 'qemu' %>
<% container = type == 'lxc' %>

<%= new_child_fields_template(f, :server_volumes, {
              :object  => compute_resource.new_volume_server,
              :partial => provider_partial(compute_resource, 'server/volume'),
              :form_builder_attrs => { :type => type, :compute_resource => compute_resource, :new_host => new_vm, :new_vm => new_vm, :remove_title => _('remove storage volume') },
              :layout => "compute_resources_vms/form/#{item_layout}_layout" }) %>
<%= new_child_fields_template(f, :container_volumes, {
              :object  => compute_resource.new_volume_container(id: 'mp0'),
              :partial => provider_partial(compute_resource, 'container/volume_mp'),
              :form_builder_attrs => { :type => type, :compute_resource => compute_resource, :new_host => new_vm, :new_vm => new_vm, :remove_title => _('remove storage volume') },
              :layout => "compute_resources_vms/form/#{item_layout}_layout" }) %>


<% if server %>
<div id="server_volumes">
    <%= f.fields_for :volumes do |i| %>
        <%= render :partial => provider_partial(compute_resource, 'server/volume'), :locals => { :f => i, :type => type, :compute_resource => compute_resource, :new_host => new_vm, :new_vm => new_vm, :remove_title => _('remove storage volume') }, :layout => "compute_resources_vms/form/#{item_layout}_layout" %>
    <% end %>
</div>
<%= second_child_fields_template(f, :volumes, {
              :object  => compute_resource.new_volume_container(id: 'rootfs'),
              :partial => provider_partial(compute_resource, 'container/volume_rootfs'),
              :type => 'container',
              :form_builder_attrs => { :type => type, :compute_resource => compute_resource, :new_host => new_vm, :new_vm => new_vm, :remove_title => _('remove storage volume') },
              :layout => "compute_resources_vms/form/#{item_layout}_layout" }) %>
<% end %>
<% if container %>
<div id="container_volumes">
    <%= f.fields_for :volumes do |i| %>
        <% if i.object.id == 'rootfs' %>
            <%= render :partial => provider_partial(compute_resource, 'container/volume_rootfs'), :locals => { :f => i, :type => type, :compute_resource => compute_resource, :new_host => new_vm, :new_vm => new_vm, :remove_title => _('remove storage volume') }, :layout => "compute_resources_vms/form/#{item_layout}_layout" %>
        <% else %>
            <%= render :partial => provider_partial(compute_resource, 'container/volume_mp'), :locals => { :f => i, :type => type, :compute_resource => compute_resource, :new_host => new_vm, :new_vm => new_vm, :remove_title => _('remove storage volume') }, :layout => "compute_resources_vms/form/#{item_layout}_layout" %>
        <% end %>
    <% end %>
</div>
<%= second_child_fields_template(f, :volumes, {
              :object  => compute_resource.new_volume_server,
              :partial => provider_partial(compute_resource, 'server/volume'),
              :type => 'server',
              :form_builder_attrs => { :type => type, :compute_resource => compute_resource, :new_host => new_vm, :new_vm => new_vm, :remove_title => _('remove storage volume') },
              :layout => "compute_resources_vms/form/#{item_layout}_layout" }) %>
<% end %>
<% if new_vm %>
    <%= add_child_link '+ ' + _("Add Volume"), :server_volumes, { :class => "info", :style => ("display: none;" unless server), :title => _('add new storage volume') } %>
<% end %>
<% if new_vm %>
    <%= add_child_link '+ ' + _("Add Volume"), :container_volumes, { :class => "info", :style => ("display: none;" unless container), :title => _('add new storage volume') } %>
<% end %>



