<%# Copyright 2018 Tristan Robert

This file is part of ForemanFogProxmox.

ForemanFogProxmox is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

ForemanFogProxmox is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with ForemanFogProxmox. If not, see <http://www.gnu.org/licenses/>. %>
<% if compute_resource.class == ForemanFogProxmox::Proxmox %>
<% type = f.object.type %>
<% node_id = f.object.node_id %>
<% server = type == 'qemu' %>
<% container = type == 'lxc' %>

<%= new_child_fields_template_typed(f, :volumes, {
              :type => 'server',
              :object  => compute_resource.new_typed_volume({},'qemu'),
              :partial => provider_partial(compute_resource, 'server/volume'),
              :form_builder_attrs => { :type => type, :node_id => node_id, :compute_resource => compute_resource, :new_host => new_vm, :new_vm => new_vm, :remove_title => _('remove storage volume') },
              :layout => "compute_resources_vms/form/#{item_layout}_layout" }) %>
<%= new_child_fields_template_typed(f, :volumes, {
              :type => 'container',
              :object  => compute_resource.new_typed_volume({ id: 'mp0' }, 'lxc'),
              :partial => provider_partial(compute_resource, 'container/volume_mp'),
              :form_builder_attrs => { :type => type, :node_id => node_id, :compute_resource => compute_resource, :new_host => new_vm, :new_vm => new_vm, :remove_title => _('remove storage volume') },
              :layout => "compute_resources_vms/form/#{item_layout}_layout" }) %>



    <%= f.fields_for :volumes do |i| %>
            <% if i.object.rootfs? %>
            <div id="container_volumes_rootfs" style="<%= 'display: ' + (container ? 'block' : 'none') + ';' %>">
                <%= render :partial => provider_partial(compute_resource, 'container/volume_rootfs'), :locals => { :f => i, :type => type, :node_id => node_id, :compute_resource => compute_resource, :new_host => new_vm, :new_vm => new_vm, :remove_title => _('remove storage volume'), :disabled => !container }, :layout => "compute_resources_vms/form/#{item_layout}_layout" %>
            </div>  
            <% elsif i.object.mount_point? %>
            <div id="container_volumes_mp" style="<%= 'display: ' + (container ? 'block' : 'none') + ';' %>">
                <%= render :partial => provider_partial(compute_resource, 'container/volume_mp'), :locals => { :f => i, :type => type, :node_id => node_id, :compute_resource => compute_resource, :new_host => new_vm, :new_vm => new_vm, :remove_title => _('remove storage volume'), :disabled => !container }, :layout => "compute_resources_vms/form/#{item_layout}_layout" %>
            </div>
            <% elsif i.object.controller? %>
            <div id="server_volumes" style="<%= 'display: ' + (server ? 'block' : 'none') + ';' %>">
                <%= render :partial => provider_partial(compute_resource, 'server/volume'), :locals => { :f => i, :type => type, :node_id => node_id, :compute_resource => compute_resource, :new_host => new_vm, :new_vm => new_vm, :remove_title => _('remove storage volume'), :disabled => !server }, :layout => "compute_resources_vms/form/#{item_layout}_layout" %>
            </div>
            <% end %> 
    <% end %>  

    <%= add_child_link_typed '+ ' + _("Add Volume"), :volumes, 'server', { :class => "info #{'hide' unless server}", :title => _('add new storage volume') } %>
    <%= add_child_link_typed '+ ' + _("Add Volume"), :volumes, 'container', { :class => "info #{'hide' unless container}", :title => _('add new storage volume') } %>
<% else %>
<%= new_child_fields_template(f, :volumes, {
              :object  => volume,
              :partial => provider_partial(compute_resource, 'volume'),
              :form_builder_attrs => { :compute_resource => compute_resource, :new_host => new_vm, :new_vm => new_vm, :remove_title => _('remove storage volume') },
              :layout => "compute_resources_vms/form/#{item_layout}_layout" }) %>

<%= f.fields_for :volumes do |i| %>
    <%= render :partial => provider_partial(compute_resource, 'volume'), :locals => { :f => i, :compute_resource => compute_resource, :new_host => new_vm, :new_vm => new_vm, :remove_title => _('remove storage volume') }, :layout => "compute_resources_vms/form/#{item_layout}_layout" %>
<% end %>

<% if new_vm %>
    <%= add_child_link '+ ' + _("Add Volume"), :volumes, { :class => "info", :title => _('add new storage volume') } %>
<% end %>
<% end %>

