<%# Copyright 2018 Tristan Robert

This file is part of ForemanProxmox.

ForemanProxmox is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

ForemanProxmox is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with ForemanProxmox. If not, see <http://www.gnu.org/licenses/>. %>

<% new = f.object
   attribute_map = compute_attribute_map(params, compute_resource, new)

   hide_raw = ''
   if params && params['host'] && params['host']['compute_attributes'] != ''
     hide_raw = 'display:none;'
   end

   if controller_name == 'hosts'
     fields_enabled = true
     start_enable   = true
   elsif controller_name == 'compute_attributes'
     fields_enabled     = true
     compute_attributes = compute_resource.compute_profile_attributes_for(params['compute_profile_id'])
     name               = compute_attributes['name']
   else
     fields_enabled = false
   end

-%>
<%= javascript_tag("$(document).on('ContentLoad', tfm.numFields.initAll)"); %>

<!-- VM Initial Settings -->
<div class="children_fields">
  <fieldset id="vm_general">
    <legend>General</legend>
    <div class="fields">
      <%= text_f f, :vmid, :label => _('VM ID'), :value => compute_resource.next_vmid %>
    <%= selectable_f f, :node,
                     proxmox_nodes_map(compute_resource),
                     {},
                     { :class => 'form-control span2',
                       :disabled => (controller_name != 'hosts'),
                       :label => 'Node'
                     }
    %>
    </div>
  </fieldset>
</div>

<!-- CPU -->
<div class="children_fields" id="proxmoxserver-cpu" style="<%= hide_raw %>">
   <fieldset id="vm_cpu">
    <legend>CPU</legend>
    <div class="fields">
      <%= text_f f, :sockets, :label => _('Sockets'), :value => 1 %>
      <%= text_f f, :cores, :label => _('Cores'), :value => 1 %>
      <%= text_f f, :vcpus, :label => _('VCPUs'), :value => 4 %>
      <%= text_f f, :cpulimit, :label => _('CPU limit'), :value => 0 %>
      <%= text_f f, :cpuunits, :label => _('CPU units'), :value => 1024 %>
    <%= selectable_f f, :cpu_type,
                     proxmox_cpus_map,
                     {},
                     { :class => 'form-control span2',
                       :disabled => (controller_name != 'hosts'),
                       :label => 'Type'
                     }
    %>
      <%= checkbox_f f, :numa, :label => _('Enable NUMA'), :value => false %>
      <%= checkbox_f f, :pcid, :label => _('PCID'), :value => false %>
      <%= checkbox_f f, :spectre, :label => _('Spectre-CTRL'), :value => false %>
    </div>
  </fieldset>
</div>

<!-- Memory -->
<div class="children_fields" id="proxmoxserver-memory" style="<%= hide_raw %>">
   <fieldset id="vm_memory">
    <legend>Memory</legend>
    <div class="fields">
      <%= text_f f, :memory, :label => _('Memory (MiB)'), :value => 512 %>
      <%= text_f f, :min_memory, :label => _('Minimum memory (MiB)'), :value => 512 %>
      <%= text_f f, :shares, :label => _('Shares'), :value => 0 %>
      <%= checkbox_f f, :ballon, :label => _('Ballooning Device'), :value => true %>
    </div>
  </fieldset>
</div>

<!-- Volume -->
<div class="children_fields proxmoxserver-raw" id="proxmoxserver-volume" style="<%= hide_raw %>">
  <%= field_set_tag 'Volume', :id => 'volume', :title => _('Volume') do -%>
      <%= f.fields_for :volumes do |i| %>
          <%= render 'compute_resources_vms/form/volume', :f => i, :compute_resource => compute_resource, :new => new, :attribute_map => attribute_map %>
      <% end -%>
  <% end -%>
</div>

<!-- Network -->
<div class="children_fields" id="proxmoxserver-network" style="<%= hide_raw %>">
  <%= field_set_tag 'Network interfaces', :id => 'network_interfaces', :title => _('Networks') do -%>
      <%= f.fields_for :nics do |i| %>
          <%= render 'compute_resources_vms/form/network', :f => i, :compute_resource => compute_resource, :new => new, :attribute_map => attribute_map %>
      <% end -%>
  <% end -%>
</div>

<%= compute_specific_js(compute_resource, 'foreman_proxmox/cache_refresh') %>
<%= compute_specific_js(compute_resource, 'foreman_proxmox/populate_fields') %>
